@import "tailwindcss";

/* Swiper slides ko same height dene ke liye - 1 row fix */
.swiper-slide {
    height: auto !important;
}

.main-card .swiper-wrapper {
    align-items: stretch !important;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden !important;
}

/* src/index.css - Add these classes */
@keyframes bounce-once {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.2); }
}

.animate-bounce-once {
  animation: bounce-once 0.5s ease-in-out;
}